@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Playfair+Display+SC&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #F8F7F7 !important;
}

.container{
    /* border: 1px solid blue; */
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgb(214, 214, 214);
    background-color: rgb(253, 253, 253);
    padding-top: 2%;
}


h1{
    color: rgb(70, 70, 70);
    text-align: center;
}

form{
    margin: 3%;
    padding: 2%;
    width: 75%;
    margin: auto;
}


.button{
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    padding: 10px 100px;
    background-image: linear-gradient(to right, #25aae1, #4481eb);
    border: none;
    color: white;
}

.button:hover{
    background-image: none;
    background-color: #25aae1;
    color: white;
    text-decoration: none;
}