@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #F8F7F7 !important;
}

.container{
    /* border: 1px solid blue; */
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgb(214, 214, 214);
    background-color: rgb(253, 253, 253);
    padding-top: 2%;
}


h1{
    color: rgb(70, 70, 70);
    margin-left: 12%;
}

form{
    margin: 3%;
    padding: 2%;
    width: 75%;
    margin: auto;
}


.button{
    background-color: rgb(10, 128, 104);
    border: none;
    color: white;
    padding: 10px 100px;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

.button:hover{
    background-color: rgb(61, 61, 61);
    color: white;
    text-decoration: none;
}