@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Playfair+Display+SC&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

main{
    /* border: 1px solid green; */
    overflow: auto;
    clear: both;
    background-color: #F8F7F7;
}

.left-menu-bar{
    /* border: 1px solid red; */
    width: 13%;
    float: left;
    background-color:  #060818;
    height: 100vh;
    box-shadow: 1px 1px 15px black;
    position: fixed;
}

.left-menu-bar h4{
    font-family: 'Odibee Sans', cursive;
    /* background-color: honeydew; */
    color: white;
    padding: 26px;
    font-size: 35px;
}

.logo span{
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-menu-bar a{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.nav-item{
    /* border: 1px solid springgreen; */
    padding: 20px;
}

.nav-item:hover{
    background-color:  #282537;
    border-radius: 10px;
}

.nav-item a:hover{
    text-decoration: none;
    color: white;

}

.menu-right{
    text-align: right;
    margin: 30px;
}

.date{
    display: inline;
    margin-right: 20px;
    color: rgb(1,72,113);
    font-weight: bolder;
}

.menu-right a{
    padding: 10px;
    background-image: linear-gradient(to right, #25aae1, #4481eb);
    border: none;
    color: white;
    border-radius: 3px !important;
    margin: 40px 0 !important;
}

.menu-right a:hover{
    background-image: none;
    background-color: #25aae1;
    color: whitesmoke;
    text-decoration: none;
}


/* dashboard and now screening */

section{
    /* border: 1px solid blue; */
    width: 85%;
    float: right;
    color: rgb(70, 70, 70);
}

section h2{
    margin-top: 30px;
    margin-left: 50px;
}

.now-screening{
    /* border: 1px solid red; */
    margin: 3%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgb(214, 214, 214);
    background-color: rgb(248, 248, 248);
}

.now-screening h3{
    color: rgb(70, 70, 70);
    margin-bottom: 20px;
}

.table th, td{
    color: rgb(36, 36, 36);
    text-align: center;
}

.edit a{
    background-color: #25aae1;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
}

.edit a:hover{
    background-color: #4481eb;
    color: white;
    text-decoration: none;
}

.delete a{
    border: 2px solid #25aae1;
    color: #25aae1;
    padding: 10px 18px;
    border-radius: 5px;
}


.delete a:hover{
    border: 2px solid #4481eb;
    color: #4481eb;
    text-decoration: none;
}


