@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

main{
    /* border: 1px solid green; */
    overflow: auto;
    clear: both;
    background-color: #F8F7F7;
}

.left-menu-bar{
    /* border: 1px solid red; */
    width: 13%;
    float: left;
    background-color:  rgb(1,72,113);
    height: 100vh;
    box-shadow: 1px 1px 15px black;
}

.left-menu-bar h4{
    font-family: 'Bungee Inline', cursive;
    /* background-color: honeydew; */
    color: white;
    padding: 20px;
}

.left-menu-bar span{
    color: rgb(93, 196, 93);
}


.left-menu-bar a{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.nav-item{
    /* border: 1px solid springgreen; */
    padding: 20px;
}

.nav-item:hover{
    background-color:  rgb(0, 60, 92);
    border-radius: 10px;
}

.nav-item a:hover{
    text-decoration: none;
    color: white;

}

.menu-right{
    text-align: right;
    margin: 30px;
}

.date{
    display: inline;
    margin-right: 20px;
    color: rgb(1,72,113);
    font-weight: bolder;
}

.menu-right a{
    color: white;
    background-color: rgb(1,72,113);
    padding: 10px;
    border-radius: 5px;
}

.menu-right a:hover{
    color: rgb(1,72,113);
    text-decoration: none;
    border: 2px solid rgb(1,72,113);
    background-color: white;
    padding: 8px;
}


/* Information section */

section{
    /* border: 1px solid blue; */
    width: 85%;
    float: right;
    color: rgb(70, 70, 70);
}

section h2{
    margin: 30px 200px;
}

.information-frame{
    margin: 3%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 30px rgb(214, 214, 214);
    background-color: rgb(253, 253, 253);
    width: 75%;
    margin: auto;
}

#add_info_btn{
    border: 2px solid rgb(10, 128, 104);
    border-radius: 5px;
    color: rgb(10, 128, 104);
    text-decoration: none;
    padding: 10px 18px;
    margin-left: 15%;
}

#add_info_btn:hover{
    background-color: rgb(10, 128, 104);
    color: white;
}


.table{
    width: 70% !important;
    margin: 30px auto;
}

.table th, td{
    color: rgb(36, 36, 36);
    text-align: center;
}


.details a{
    background-color: rgb(10, 128, 104);
    color: white;
    padding: 8px 18px;
    border-radius: 5px;
}

.details a:hover{
    background-color: rgb(61, 61, 61);
    color: white;
    text-decoration: none;
}

.delete a{
    border: 2px solid rgb(10, 128, 104);
    color: rgb(10, 128, 104);
    padding: 8px 18px;
    border-radius: 5px;
    font-size: 14px;
}


.delete a:hover{
    border: 2px solid rgb(61, 61, 61);
    color: rgb(61, 61, 61);
    text-decoration: none;
}

h3{
    color: rgb(117, 117, 117);
}