*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-size: 16px;
    background-color: #282537 !important;
    background-image: -webkit-radial-gradient(top, circle cover, #272735 0%, #060818 80%);
}

.f-container, .container{
    background-color: whitesmoke;
    border-radius: 2px; 
}

.step-marker ul{
    background-color: rgb(6, 6, 32);
    padding: 15px 0 !important;
}

.step-marker li{
        font-size: 22px; 
        color: slategray;
}

.step-marker .active{
    color: whitesmoke;
}

.top-banner{
    position: relative;
    overflow: auto;
    /* border: 1px solid red; */
}

.top-banner #feature_image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position:0% 0%;
}

.reservation_detail{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
}

.reservation_detail .movie_poster{
    width: 50%;
    height: 100%;
    float: left;
    /* border: 1px solid slateblue; */
    padding-left: 40%;
}
.movie_poster img{
    margin-top: 50%;
}

.reservation_detail .info{
    width: 50%;
    height: 100%;
    float: right;
    /* border: 1px solid green; */
    color: whitesmoke;
    font-size: 20px;
    padding-right: 30%;
}

.reservation_detail .title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2%;
    margin-top: 25%;
}

.container{
    padding: 3% 7% !important;
}

.selected-seats{
    text-align: right;
}

.booking-summary .seat{
    width: 25px !important;
    height: 25px;
    text-align: center;
    background-color: #4481eb;
    color: whitesmoke;
}

.booking-summary{
    box-shadow: 1px 1px 15px rgb(180, 180, 180);
    border-radius: 3px;
    padding: 2%;
}

.table .total{
    font-weight: bold;
    font-size: 20px;
}

.payment h5{
    font-weight: bold;
    margin-top: 6% !important;
}

form{
    padding: 0 2%;
}

.expiration{
    margin: 0 7% !important;
}

button{
    padding: 10px 40px;
    background-image: linear-gradient(to right, #25aae1, #4481eb);
    border: none;
    color: white;
    border-radius: 3px !important;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 40px 0 !important;
}

button:hover{
    background-image: none;
    background-color: whitesmoke;
    color: #4481eb;
    border: 1px solid #4481eb;
}

